.footer{
  width: 100%;
  height: 20rem;
  background-color: #dba94b;
}
.container{
  width: 95%;
  height:20rem;
  margin: 0 auto;
}
.con{
  height: 20rem;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  align-items:center;
}
.logo{
  width: 20rem;
}
